body {
    background: #F5F5F0;
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.list-movies-title {
    padding: 10px 0;
    background: #009B50;
    color: white;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.movie-container {
    max-width: 1200px;
    margin: 0 auto;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.movie {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    position: relative;  /* Ensure movie is positioned relatively for absolute positioning of notes */
}

.movie:hover {
    transform: translateY(-5px);
}

.movie img {
    width: 100%;
    height: auto;
}

.movie-details {
    padding: 10px;
}

.movie-title {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
    font-size: 16px;
}

.movie-year {
    color: #888;
    text-align: center;
    margin-bottom: 5px;
}

.movie-rating {
    font-size: 14px;
    color: #555;
    text-align: center;
    margin-bottom: 5px;
}

.country-flag {
    width: 16px;
    height: auto;
    margin-left: 5px;
    vertical-align: middle;  /* Aligns the flag vertically with the text */
}

.movie-notes {
    display: none;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: white;
    padding: 5px;
    border-radius: 5px;
    max-width: 200px;
    z-index: 10;  /* Ensure it appears above other elements */
    text-wrap: nowrap;
}

/* Only display notes if not empty */
.movie-notes:empty {
    display: none;
}

.movie:hover .movie-notes:not(:empty) {
    display: block;
}

.movie-poster {
    width: 100%;
    height: auto;
    max-height: 300px;
}

.no-poster {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.movie-poster-placeholder {
    width: 200px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    color: #000;
    font-size: 18px;
    text-align: center;
    border: 1px solid #999;
    margin-bottom: 10px;
}